// .carousel {
//     width: 100%;
//     // overflow: scroll;
//     padding: 3rem;
//     position: relative;
// }

.carousel__container {
	display: grid;
	column-gap: 1rem;
	row-gap: 6.6rem;
	grid-template-columns: repeat(auto-fit, 20rem);
	margin: 2.5rem 0;
	place-content: center;
	width: 100%;
}

.carousel__item {
	border-radius: 2rem;
	overflow: hidden;
	margin-right: 1rem;
	cursor: pointer;
	transition: 0.45s all;
	transform-origin: 50% 50%;
}

// .carousel__item:hover ~ .carousel__item {
// 	transform: translate3d(10rem, 0, 0);
// }

.carousel__container:hover .carousel__item {
	opacity: 0.3;
}
.carousel__container:hover .carousel__item:hover {
	opacity: 1;
	transform: scale(1.5);
}

.carousel__img {
	width: 100%;
	object-fit: cover;
}

@media (min-width: 768px) {
	.carousel__item {
		transform-origin: 0% 50%;
	}

	.carousel__item:hover ~ .carousel__item {
		transform: translate3d(10rem, 0, 0);
	}

	.carousel__container:hover .carousel__item {
		opacity: 0.3;
	}
	.carousel__container:hover .carousel__item:hover {
		opacity: 1;
		transform: scale(1.5);
	}
}
