input, textarea {
	border:0;
	outline: none
}

form {
	background-color: $primary-1;
	border-radius: 1rem;
	margin: 0 auto;
	padding: 2rem;
	margin-bottom: 3vh;
	margin-top: 2vh;
	width: 26rem;
	min-height: 45vh;
}

.form-content {
	display: flex;
	flex-direction: column;
	margin-top: 1vh;
}

.form-input {
	border: solid 2px #ccc;
	display: block;
	padding: 1rem;
	border-radius: 0.5rem;
	margin: 1rem 0;
	&:focus {
		border-color: $primary-3 ;
	}
}

.caption-error{
	color: rgb(151, 12, 12);
	background-color: rgb(231, 172, 172);
	border-radius: 0.5rem;
	padding: 1rem;
	margin: 1rem auto;
	text-align: center;
}