
.articles {
	color: $secondary-2;
	font-weight: 500;
	margin: 2rem auto;
	text-align: center;
	max-width: 60vw;

}

.subtitle {
	color: $primary-2;
	font-weight: 700;
	padding-left: 1rem;
}

.container-img{
	max-width: 50rem;
	height: 30rem;
	margin: 2rem auto;
	overflow: hidden;
	align-items: center;
}