.articles {
	color: $secondary-2;
	font-weight: 500;
	margin: 2rem auto;
	text-align: center;
	max-width: 60vw;
}

.jumbotron {
	align-items: center;
	display: grid;
	grid-template-columns: 1;
	justify-items: center;
	h1 {
		font-size: 4rem;
	}
}

.p-poster {
	padding: 3rem;
	color: $secondary-2;
	text-align: center;
}

@media (min-width: 640px) {
	.jumbotron {
		grid-template-columns: repeat(2, 1fr);
		gap: 0rem;
		h1 {
			grid-column: 1 / span 2;
			font-size: 5rem;
		}

		.p-poster{
			width: 50vw;
		}
	}

	.img-jumbotron {
		width: 20rem;
		padding: 3rem;
	}

	.p-poster {
		grid-column: 1 / span 2;
	}
}
