.swiper-container {
	width: 100%;
	padding: 2rem 0;
	margin: 2rem 0;
}
.main-image {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}
#main {
	width: 70rem;
}

.thumb-main {
	list-style: none;
	max-width: 15vw;
	height: 15vw;
}

.swiper-scrollbar {
	background-color: $primary-3;
}
.swiper-scrollbar-drag {
	background-color: $primary-1;
}
