.app-whatsapp{
	position: fixed;
	right: 2.4rem;
	bottom: 2.5rem;
	width: 6rem;
	z-index: 1000;
	display: none;
	bottom: 9.5rem;
	display: block;
}

.app-whatsapp i{
	color: #ffffff;
	background-color: #25D366;
	border-radius: 1rem;
	padding: 0.6rem;
	font-size: 5rem;

}
