@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	text-decoration: none;
	// list-style: none;
}
html {
	font-size: 62.5%;

}

body {
	background-color: #eee;
	font-size: 1.6rem;
	
}

.container {
	margin: 0 auto;
}

.title-main {
	color: $primary-3;
	font-weight: 700 ;
	margin-top: 2rem;
	text-align: center;
}

.btn {
	border-radius: 1rem;
	background-color: transparent;
	border: none;
	border-color: transparent;
	color: #fff;
	font-weight: bold;
	padding: 1rem 2rem;
	text-decoration: none;
}

.btn-primary {
	background-color: $primary-1;
	&:hover {
		background-color: darken($color: $primary-1, $amount: 10);
	}
}
.btn-secondary {
	background-color: $secondary-2;
	&:hover {
		background-color: darken($color: $secondary-2, $amount: 10);
	}
}

.btnBack {
	margin: 2rem;
	text-align: center;
}

.center-content {
	text-align: center;
	.btn {
		width: 60%;
	}
}

.banners {
	width: 100%;
}

@media (min-width: 768px) {
	.container {
		width: 80%;
	}
}
