* {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-decoration: none;
	// list-style: none;
}
html {
	font-size: 62.5%;
}

body {
	background-color: #EEE;
	// background-color: lighten($color: $primary-1, $amount: 35);
	font-size: 1.6rem;
}

.container {
	margin: 0 auto;
   
}

.title-main {
	color: $primary-3;
	margin-top: 2rem;
	text-align: center;
	text-shadow: 1px 1px $primary-1;
}

.btn {
	text-decoration: none;
	padding: 1rem 2rem;
	color: #fff;
	border-radius: 1rem;
	background-color: transparent;
	border: none;
	border-color: transparent;
}

.btn-primary {
	background-color: $primary-1;
	&:hover {
		background-color: darken($color: $primary-1, $amount: 10);
	}
}
.btn-secondary {
	background-color: $secondary-2;
	&:hover {
		background-color: darken($color: $secondary-2, $amount: 10);
	}
}

.btnBack {
	margin: 2rem ;
	text-align: center;
}


@media(min-width: 768px) {
	.container {
		width: 80%;
		
	}
}