//* Colors
$primary-1: #00ABFF;
$primary-2: #0072BE;
$primary-3: #0054AD;
$secondary-1:#00ff00;
$secondary-2:#00AC3E;
$dark-grey: #363636;
$light-grey: #d8d8d8;

//* Google button

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
